
<div class="container mt-4 mb-4">
    <h3>Wishlist</h3>
    <div class="row g-2">
        <div class="col-md-6">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="https://i.imgur.com/OCd0AVN.png" width="200"> </div>
                <div class="">
                    <h6 class="mb-1">Hopital high suction[760 BHP]</h6> <span>250 NMPA</span>
                    <div class="buttons mt-3"> <button class="btn btn-outline-danger btn-sm wishlist">Add to wishlist</button> <button class="btn btn-success btn-sm">Add to quote</button> </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-6">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="https://i.imgur.com/j66O7xU.png" width="200"> </div>
                <div class="">
                    <h6 class="mb-1">Hopital high suction[760 BHP]</h6> <span>250 NMPA</span>
                    <div class="buttons mt-3"> <button class="btn btn-outline-danger btn-sm wishlist">Add to wishlist</button> <button class="btn btn-success btn-sm">Add to quote</button> </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="https://i.imgur.com/j66O7xU.png" width="200"> </div>
                <div class="">
                    <h6 class="mb-1">Hopital high suction[1060 BHP]</h6> <span>450 NMPA</span>
                    <div class="buttons mt-3"> <button class="btn btn-outline-danger btn-sm wishlist">Add to wishlist</button> <button class="btn btn-success btn-sm">Add to quote</button> </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="https://i.imgur.com/OCd0AVN.png" width="200"> </div>
                <div class="">
                    <h6 class="mb-1">Hopital high suction[7260 BHP]</h6> <span>1250 NMPA</span>
                    <div class="buttons mt-3"> <button class="btn btn-outline-danger btn-sm wishlist">Add to wishlist</button> <button class="btn btn-success btn-sm">Add to quote</button> </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="col-md-6">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="https://i.imgur.com/j66O7xU.png" width="200"> </div>
                <div class="">
                    <h6 class="mb-1">Hopital high suction[760 BHP]</h6> <span>250 NMPA</span>
                    <div class="buttons mt-3"> <button class="btn btn-outline-danger btn-sm wishlist">Add to wishlist</button> <button class="btn btn-success btn-sm">Add to quote</button> </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="col-md-6">
            <div class="product-card d-flex flex-row align-items-center">
                <div class="text-center"> <img src="https://i.imgur.com/j66O7xU.png" width="200"> </div>
                <div class="">
                    <h6 class="mb-1">Hopital high suction[1760 BHP]</h6> <span>2150 NMPA</span>
                    <div class="buttons mt-3"> <button class="btn btn-outline-danger btn-sm wishlist">Add to wishlist</button> <button class="btn btn-success btn-sm">Add to quote</button> </div>
                </div>
            </div>
        </div> -->

    </div>
</div>
