
<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="listing listing-default">
                <div class="shape">
                    <div class="shape-text">buy</div>
                </div>
                <div class="listing-content">
                    <h3 class="lead">Standard listing</h3>
                    <p>Buy items on normal prices. No discounts available for this listing.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="listing listing-radius listing-success">
                <div class="shape">
                    <div class="shape-text">50%</div>
                </div>
                <div class="listing-content">
                    <h3 class="lead">Discount listing</h3>
                    <p>Buy now - 50% off.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="listing listing-danger">
                <div class="shape">
                    <div class="shape-text">hot</div>
                </div>
                <div class="listing-content">
                    <h3 class="lead">Hot Offer</h3>
                    <p>Best selling for this period.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class='container'> <button type="button" class="btn trigger" data-toggle="modal" data-target="#exampleModal"> OFFER </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header "> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>
                <div class="modal-body p-0 row">
                    <div class="col-12 col-lg-4 ad p-0"> <img src="../../../assets/img/iphone13_.jpg" width="100%" height="100%"> </div>
                    <div class="details col-12 col-lg-8">
                        <div class="heading d-flex">
                            <div class="logo"></div>
                            <div class="off"></div>
                        </div>
                        <h2>First time offer</h2>
                        <p><small class="text-muted">FIRST 20 ORDER GET 30% OFF<br /> EXCLUSIVE AT JUST <strong>RS 39000</strong></small></p>
                        <div class="text-muted hurry"><small>Hurry. book now. Limited time offer</small></div>
                        <div class="d-flex mt-2 mb-5"> <button type="button" class="btn booking"><label><strong>Books<br /></strong><small class="text-muted">Online</small></label></button> <button type="button" class="btn booking ml-4"><label><strong>Store<br /></strong><small class="text-muted">Locator</small></label></button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>






    
